:root {
    --font: 'OpenSans';

    --sectional-margin: 35px;

    --primary: #00b5ee;
    --secondary: #95dbf1;
    --color-text: #393939;
    --color-disabled: #cecece;
    --color-notification: #f44336;
}
