  :root {
    --font: 'OpenSans';
    --text-color: #393939;

    --color-primary: #00b5ee;
    --color-secondary: #95dbf1;
    --color-pagination: #cecece;

    --product-color: #000000;
    --min-card-height: 0px;
  }
